

.container {
    background-color: gray;
    height: 600px;
    flex-grow: 1;
}

.box {
    flex-basis: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100px;
    width: 100px;
    padding-left: 5px;
    padding-right: 5px;
}

.greenBox {
    background-color: green;
    flex-grow: 0;
}

.yellowBox {
    background-color: yellow
}

.redBox {
    background-color: red
}

.blueBox {
    background-color: blue
}

